* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Màu nền của thanh sticky bar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
  z-index: 999; /* Đảm bảo thanh sticky bar luôn hiển thị trên các phần khác */
  display: flex;
  justify-content: center; /* Canh giữa nội dung */
  align-items: center; /* Canh giữa theo chiều dọc */
  height: 60px; /* Độ dày của thanh sticky bar */
}

.navigation {
  padding: 0 20px; /* Khoảng cách nội dung với mép thanh sticky bar */
}

.home-link {
  text-decoration: none; /* Loại bỏ gạch chân từ liên kết */
  color: #333; /* Màu chữ của liên kết */
  font-weight: bold; /* Chữ đậm */
  font-size: 18px; /* Kích cỡ của chữ */
}

.home-link:hover {
  color: #555; /* Màu chữ khi di chuột qua liên kết */
}

.content {
	margin-top: 160px;
}

.login-container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  width: 45%;
}
.login-container .thumbnail {
  background: rgb(255, 228, 171);
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.login-container .thumbnail img {
  display: block;
  width: 150%;
  margin-left: -25%;
}
.login-container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-container #button {
  outline: 0;
  background: rgb(241, 148, 26);
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.info h1 {
  font-weight: bolder;
}

.login-container #button:hover {
  color: rgb(241, 148, 26);
  background-color: rgb(254, 211, 129);
}

.info-container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.info-container:before, .info-container:after {
  content: "";
  display: block;
  clear: both;
}
.info-container .info {
  margin: 50px auto;
  text-align: center;
}
.info-container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.info-container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.info-container .info span a {
  color: #000000;
  text-decoration: none;
}
.info-container .info span .fa {
  color: #EF3B3A;
}

#loggedContent {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

#logoutForm {
  float: left; /* Đặt thẻ div sang bên trái */
  margin-right: 20px; /* Khoảng cách giữa thẻ div và phần còn lại của trang */
}

.logged-content {
  display: flex;
  flex-direction: row;
}

.container {
  margin-left: auto; /* Đặt margin-left là auto để đẩy container về bên phải */
}

body {
  background: #ccc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


