
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
		<link rel = "stylesheet" th:href="@{/style.css}"/>
    </head>
    <body>
    <div>
		<div class="sticky-bar">
			<div class="logo">
				<img src="logo.png" alt="Logo">
			</div>
			<div class="navigation">
				<a href="#" class="home-link"><i class="fas fa-home"></i> Trang chủ</a>
			</div>
		</div>
		<div class="content" th:if="${user == null}">
			<div class="login-container">
				<h2>Đăng nhập</h2>
				<form id="loginForm" action="home" method="POST">
				Username: <input type="text" id="username" name="username" placeholder="Mã sinh viên">
				<br />
				Password: <input type="text" id="password" name="password" placeholder="Mật khẩu"/>
				<br/>
				<input type="submit" value="Login" />
				</form>
			</div>
		</div>
        <div id="loggedContent" th:if="${user != null}">
        	<div id ="logoutForm" method ="POST">
        		<form action="logout">
        			<div>
        				<p>THÔNG TIN</p>
        				<a th:href="@{/user/infor/{id}(id = ${user.id})}">Sửa thông tin</a>
        			</div>
        			<p th:text="'Tài khoản: '+${user.username}"></p>
        			<p th:text="'Họ và tên: '+${user.name}"></p>
        			<p th:text="'Vai trò: '+${user.role}"></p>
        			<input type="submit" value="Logout" />
        		</form>

        	</div>
        	<div id="funcionBar" style="display: inline-block;">
        		<p>TÍNH NĂNG</p>
        		<a th:href="@{/user/score/{id}(id = ${user.id})}">Xem điểm</a>
        		<a id="adminLink" href="/admin" th:if="${user.role == 'admin'}">Quản lý tài khoản</a>
        		<a th:href="@{/score/user/{id}/term/1(id = ${user.id})}">Nhập điểm</a>
        	</div>
        </div>
		<div class="footer-bar">
			<p>Created by Team 0</p>
		</div>
    </div>
	
	<script src="script.js"></script>
    </body>
</html>
<script th:inline="javascript">
	var user = /*[[${user}]]*/ 'default';
	console.log(user);

    var message = /*[[${message}]]*/ 'default';
    console.log(message);
</script>