* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.content {
	margin-top: 160px;
}

.logo {
	text-align: center;
	top: 10%;
}

.logo span{
	display: inline-block;
	margin-top: 10%;
}

.text0 {
	font-size: 3.5rem;
	font-weight: bolder;
	color: black;
}

.text1 {
	font-size: 3rem;
	font-weight: bolder;
	color: black;
}

.text2 {
	font-size: 2rem;
	font-weight: bolder;
	color: chocolate;
}

.login-container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  width: 45%;
}
.login-container .thumbnail {
  background: rgb(255, 228, 171);
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.login-container .thumbnail img {
  display: block;
  width: 150%;
  margin-left: -25%;
}
.login-container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-container #login-button {
  outline: 0;
  background: rgb(241, 148, 26);
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#loggedContent {
  position: fixed;
  float: left;
  width: 20%;
  height: 100%;
  background-color: rgb(255, 228, 171);
  top: 0;
  left: 0;
  margin-top: 0!important;
}

h1 {
  font-size: 25px;
  font-weight: bolder;
}

#loggedContent button {
  background: rgb(241, 148, 26);
  border: none;
  box-sizing: inherit;
  color: white;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0px 0.3em 10px 0px;
  outline: 0px;
  padding: 0.4em 1.6em;
  text-decoration-line: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 120px;
}

#loggedContent button:hover {
  color: rgb(241, 148, 26);
  background-color: rgb(254, 211, 129);
}

#loggedContent input {
  background: rgb(241, 148, 26);
  border: none;
  box-sizing: inherit;
  color: white;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0px 0.3em 10px 0px;
  outline: 0px;
  padding: 0.4em 1.6em;
  text-decoration-line: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 120px;
}

#loggedContent input:hover {
  color: rgb(241, 148, 26);
  background-color: rgb(254, 211, 129);
}

.loggedContent .logo {
  width: 100%; /* Đảm bảo logo chiếm toàn bộ chiều rộng của contents */
  background-color: rgb(253, 158, 62);
}

.resized-image {
  width: 80%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của div */
  height: auto; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
  margin-left: 10%;
  margin-top: 10%;
}

#logoutForm {
  margin-top: 15%!important;
  padding: 0 15%!important;
}

#funcionBar {
  margin-top: 15%!important;
  padding: 0 15%!important;
}

h2 {
  text-align: center;
  padding-top: 50px;
}

.info h1 {
  font-weight: bolder;
}

.login-container #login-button:hover {
  color: rgb(241, 148, 26);
  background-color: rgb(254, 211, 129);
}

.info-container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.info-container:before, .info-container:after {
  content: "";
  display: block;
  clear: both;
}
.info-container .info {
  margin: 50px auto;
  text-align: center;
}
.info-container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.info-container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.info-container .info span a {
  color: #000000;
  text-decoration: none;
}
.info-container .info span .fa {
  color: #EF3B3A;
}

#loggedContent {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

#logout-form {
  float: left; /* Đặt thẻ div sang bên trái */
  margin-right: 20px; /* Khoảng cách giữa thẻ div và phần còn lại của trang */
}

.logged-content {
  display: flex;
  flex-direction: row;
}

.container {
  margin-left: auto; /* Đặt margin-left là auto để đẩy container về bên phải */
}

body {
  background: #ccc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


